{% extends 'base.html' %}



{% block content %}

	

	<div class="row g-0">

		<div class="col-md-5 g-0">
			<div class="leftside d-flex justify-content-center align-items-center" style="height: 100vh; width: 100%;">
				<div class="col offset-4 ">
					<h1 class="font-weight-bold" style="align-content:left;font-size: 60px; color:#DBCA46;">ABOUT eSKO</h1> 
					<p class="text-muted" style="margin-top: 15px"> eSKO is an exclusive online classified advertisement and community website for students. Registered users can view advertisements for buying and selling services and goods, as well as post their own ads.</p> 					
				</div>			
			</div>			
		</div>

		<div class="col-md-6 g-0">
			<div class="rightside d-flex justify-content-center align-items-center"  style="height: 100vh; width: 100%;" >
				<img src="/static/landing_image.jpg" style="width: 100%;height: 80%;" >				
			</div>			
		</div>		
	</div>

{% endblock %}
