{% extends 'base.html' %}

{% block content %}

	<div class="row g-0">

		<div class="col-md-6 g-0">
			<div class="leftside d-flex justify-content-center align-items-center" style="height: 100vh; width: 100%;">

				<div class="col offset-3">

					<div class="card py-3 px-4" style="padding:30" >
				
					<form method="POST">
						{% csrf_token %}

					
						<fieldset class="form-group">
							<legend class="border-bottom mb-4" style="align-content: right;color:#DBCA46; "> Reset Password </legend>
							{{ form.as_p }}
						</fieldset>

						<div class="form-group">
							<br/><br/>
							<button type="submit" class="btn btn-warning btn-lg" style="font-size: 15px; color: white ;  ; margin-top: 15px; margin-left: 3px">Reset Password</button>
						</div>
					</form>
				</div>

				</div>				
			</div>			
		</div>

		<div class="col-md-5 g-0">
			<div class="rightside d-flex justify-content-center align-items-center"  style="height: 100vh; width: 100%; " >
				<img src="/static/landing_image.jpg" style="width: 110%;height: 80%" >				
			</div>			
		</div>		
	</div>

{% endblock %}

