{% extends 'base.html' %}

{% block content %}

		<div class="row px-5 pl-5 pt-1 pb-3" style="margin-top: 20px; width: 80%; margin-left: 170px">			
			<div class="row mx-auto py-2 ">
							
				<!--individual posts-->
				<div class="card py-3 px-4 " style="margin-bottom: 7px">
					<form method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						<legend class="border-bottom mb-4">Delete Report</legend>

						<h2>Are you sure you want to delete this report?</h2>

						<div class="card py-3  px-3 " style="margin-bottom: 7px;background: #323131" >
							<!--profile picture, username, category-->
								<div class="row px-3 py-1">
									<div class="col-auto px-0">
										<img src="{{ report.post.author.profile.profile_pic.url }}" class="rounded-circle" style="width:40px">
									</div>
									<div class="col-auto me-auto">
										<h5 class="card-title" style="color: white">{{ report.post.author }}</h5>
										<small  style="color:white">{{ report.date|date:"F d, Y" }}</small>
									</div>
									<div class="col-auto">
										<button type="button" class="btn btn-sm btn-secondary">{{report.post.category }}</button>
										
									</div>
								</div>
							<!--content-->
							<div class="row px-4 py-1">
								<p class="card-text" style="margin-left: 30px">
								<a class="card-text" style="text-decoration: none;color:white" href="/esko_app/post/{{post.id}}">{{report.post.description}} </a></p>
								<!-- <img  src= "{{ post.image.url }}" style="width: 100%; margin-top: 60px"> -->
								{% for tag in report.post.tags.all   %}
										<a href="{% url 'esko_app:posts_by_tags' tag.slug %}" style="margin-left: 48px; margin-top: 10px; color:#ACB274; text-decoration: none ">#{{tag.name}}</a>
								{% endfor   %}
							</div>
						</div>
						
						<!--post submit button-->
						<div class="mb-3">
							<button class="btn btn-outline-danger" type="submit" >Delete</button>
							<a class="btn btn-outline-secondary" href="/esko_app/reported-posts">Cancel</a>
						</div>
					</form>
				</div>
			</div>
		</div>
			

{% endblock content %}